BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100

AlignAfterOpenBracket: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackParameters: OnePerLine
# BreakAfterOpenBracketFunction: false
BreakStringLiterals: false